body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.formCadastro {
    background-color: white !important;
}

.titulo {
    text-align: center;
}

.containers_cadastro {
    width: 50%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}