@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

p {
    margin: 0;
}


/* CAMPO DE PESQUISA */
.search {
    position: fixed;
    top: 0;
    left: 220px;
    width: calc(100% - 220px); 
    height: 10vh;
    background-color: #343a40;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);  
}

.search-titulo {
    font-size: 26px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0px !important;
    font-weight: 500;
}

.container_materiais {
    padding-top: 60px;
}

.search-bar {
    width: 60%;
    display: flex;
}

.input-search {
    width: 88%;
    height: 35px;
    border-radius: 20px;
    margin-right: 1%;
    border-color: transparent;
}

.botao-search {
    width: 80px;
    height: 35px;
    border-radius: 20px;
    background-color: rgb(60, 138, 255);
    border-color: transparent;
    font-weight: 500;
    color: #ffffff;
}

.botao-search:hover {
    background-color: rgb(48, 112, 208);
}

.botao-search:active {
    background-color: rgb(35, 94, 183);
}

.botao-baixa {
    width: 100px !important;
    height: 40px !important;
    text-align: center !important;
}

.dropdown-baixa {
    background-color: #ededed !important;
    border-color: transparent;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);  
}

.baixa {
    color: #565e64 !important;
}

.baixa:hover {
    background-color: #565e64 !important;
    color: #fff !important;
}






/* SIDEBAR */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #343a40;
    padding: 20px 15px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar a:hover {
    background-color: #495057;
}

.sidebar .nav-link:hover {
    background-color: #495057;
}

.dropdown-toggle {
    width: 100%;
    text-align: start;
}

.nav {
    gap: 10px;
}

.nav-link.active {
    background-color: rgb(60, 138, 255); /* Cor de fundo do link ativo */
}

.dropdown-menu {
    background-color: #565e64 !important;
    padding: 15px 0px !important;
    box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.2);  
}

.dropdown-item {
    color: #ffffff !important; 
}

.dropdown-item:hover {
    background-color: #ffffff !important;
    color: #565e64 !important;
}





/* CONTAINER PRINCIPAL DE ITENS */
.container_home {
    position: relative;
    top: 10vh;
    left: 220px;
    width: calc(100% - 220px);
    height: calc(100vh - 10vh);
    padding: 30px;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #ededed
}

.titulo-materiais {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 30px;
}

/* CONTAINER DE ITENS */
.container_itens {
    display: flex;
    flex-wrap: wrap; 
    gap: 3vh; 
    width: 100%;
    height: auto;
    background-color: #ededed
}





/* ESTILO DE CADA ITEM */
.itens {
    width: calc(20% - 20px); /* 5 itens por linha, com um espaço entre eles */
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* RESPONSIVIDADE - Menos colunas em telas menores */
/* 4 colunas quando a tela for menor que 1200px */
@media (min-width: 1201px) {
    .itens {
        width: calc(20% - 20px); /* 5 colunas por linha */
    }
}

/* 4 colunas quando a tela for menor que 1200px */
@media (max-width: 1200px) {
    .itens {
        width: calc(25% - 20px); /* 4 colunas por linha */
    }
}

/* 3 colunas quando a tela for menor que 900px */
@media (max-width: 900px) {
    .itens {
        width: calc(33.33% - 20px); /* 3 colunas por linha */
    }
}

/* 2 colunas quando a tela for menor que 600px */
@media (max-width: 600px) {
    .itens {
        width: calc(50% - 20px); /* 2 colunas por linha */
    }
}

/* 1 coluna quando a tela for menor que 400px */
@media (max-width: 400px) {
    .itens {
        width: calc(100% - 20px); /* 1 coluna por linha */
    }
}

.item-caracteristica {
    text-align: start;
    font-size: 16px;
}

.item-nome {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #343a40;
}

.item-codigo {
    color: rgb(60, 138, 255);
    text-decoration: underline;
}

.item-complemento {
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;              /* Número de linhas máximas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 4.5em;                  /* Altura máxima com base em 2 linhas */
    line-height: 1.5em;                 /* Altura de cada linha (ajuste se necessário) */
    word-break: break-word; 
}

.item-segmento {
    font-weight: 500;
    padding-bottom: 20px;
}

.div-item-info {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}



