@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}


/* CAMPO DE PESQUISA */
.search {
    position: fixed;
    top: 0;
    left: 220px;
    width: calc(100% - 220px);
    height: 10%;
    background-color: #ededed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.search-titulo {
    font-size: 26px;
    color: #343a40;
    text-align: center;
    margin-bottom: 0px !important;
    font-weight: 500;
}

.container_materiais {
    padding-top: 60px;
}

.search-bar {
    width: 60%;
    display: flex;
}

.input-search {
    width: 88%;
    height: 35px;
    border-radius: 20px;
    margin-right: 1%;
    border-color: transparent;
}

.botao-search {
    width: 80px;
    height: 35px;
    border-radius: 20px;
    background-color: rgb(60, 138, 255);
    border-color: transparent;
    font-weight: 500;
    color: #ffffff;
}

.botao-search:hover {
    background-color: rgb(48, 112, 208);
}

.botao-search:active {
    background-color: rgb(35, 94, 183);
}

.botao-baixa {
    width: 100px !important;
    height: 40px !important;
    text-align: center !important;
}





/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #343a40;
    padding: 20px 15px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar a:hover {
    background-color: #495057;
}

.sidebar .nav-link:hover {
    background-color: #495057;
}

.dropdown-toggle {
    width: 100%;
    text-align: start;
}

.nav {
    gap: 10px;
}

.nav-link.active {
    background-color: rgb(60, 138, 255); /* Cor de fundo do link ativo */
}

.dropdown-menu {
    background-color: #565e64 !important;
    padding: 2px !important;
}

.dropdown-item {
    color: #ffffff !important; 
}

.dropdown-item:hover {
    background-color: #ffffff !important;
    color: #565e64 !important;
    border-radius: 5px !important;
}

.dropdown-baixa {
    background-color: #ededed !important;
    border-color: transparent;
}

.baixa {
    color: #565e64 !important;
}

.baixa:hover {
    background-color: #565e64 !important;
    color: #fff !important;
}