body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif !important;
    background-color: #ededed;
}

.container_principal {
    position: relative;
    top: 10vh;
    left: 220px;
    width: calc(100% - 220px);
    height: calc(100vh - 10vh);
    padding: 30px;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.containers {
    width: 70%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

.titulo_central {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

select.select-placeholder:invalid {
    color: #5b636a; /* Cor mais clara, como o placeholder do Bootstrap */
}


form label {
    margin: 0;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-group {
    flex: 1 1 48%;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    margin: 0 !important;
}

.select2-container--default .select2-selection--multiple .select2-search--inline .select2-search__field::placeholder {
    color: #5b636a; /* Cor do placeholder padrão do Bootstrap */
    opacity: 1;
}

.select2-container--default .select2-search__field {
    margin: 0 !important;
    padding: 0 !important;
}

.botao_enviar{
    width: 130px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(60, 138, 255);
    border-color: transparent;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
}

.botao_enviar:hover {
    background-color: rgb(48, 112, 208);
}

.botao_enviar:active {
    background-color: rgb(35, 94, 183);
}

.botao_enviar_item {
    margin-top: 10px;
    text-align: center;
}